<div class="about-section section-padding--y">
    <div class="container">
        <div class="about-layout">
            <div class="about-heading">
                <div data-animate-parent>
                    <div class="hero-subtitle" data-animate>
                            <div class="hero-subtitle-icon">
                                {% partial 'icons/user' %}
                            </div>
                        <div class="hero-subtitle-text"> {{page.s2_subtitle}}</div>
                    </div>
                </div>
               <div class="about-title" data-animate-parent>
                  <h1 class="about-title-text" data-animate>{{page.s2_title}}</h1>
               </div>
               <div class="about-text" data-animate-parent>
                   <p class="about-text-home" data-animate>{{page.s2_left_text}}</p>
               </div>
            </div>
            <div class="about-content" data-animate-parent>
                <div data-animate>{{page.s2_right_content|raw}}</div>
            </div>
        </div>
    </div>
</div>