<div role="list" class="projects-layout w-dyn-items">
    {% for project in page.s5_projects %}
      {% if project.layoutType == 1 %}
              <div role="list" class="w-dyn-item" data-animate-parent>
                <div class="projects-item" data-animate>
                   <a href="{{'project-description'|page({ slug: project.slug}) }}" class="projects-item-thumb-wrap">
                        <img src="{{ project.banner.path }}" class="projects-item-thumb" alt="Purse" />
                    </a>
                    <a href="#" class="projects-item-thumb-wrap">
                        <h2 class="project-item-title">{{project.title}}</h2>
                    </a>
                </div>
               </div>
        {% endif %}
    {% endfor %}
</div>
<div role="list" class="projects-layout-2 w-dyn-items" >
        {% for project in page.s5_projects %}
            {% if project.layoutType == 2 %}
              <div role="list" class="w-dyn-item" data-animate-parent>
                <div class="projects-item" data-animate>
                    <a href="{{'project-description'|page({ slug: project.slug}) }}" class="projects-item-thumb-wrap">
                        <img src="{{project.banner.path}}" class="projects-item-thumb" alt="Purse" />
                    </a>
                    <a href="#" class="projects-item-thumb-wrap">
                        <h2 class="project-item-title">{{project.title}}</h2>
                    </a>
                </div>
               </div>
            {% endif %}
        {% endfor %}
</div>
<div role="list" class="projects-layout-3 w-dyn-items">
{% for project in page.s5_projects %}
        {% if project.layoutType == 3 %}
              <div role="list" class="w-dyn-item" data-animate-parent>
                <div class="projects-item" data-animate>
                    <a href="{{'project-description'|page({ slug: project.slug}) }}" class="projects-item-thumb-wrap">
                        <img src="{{project.banner.path}}" class="projects-item-thumb" alt="Purse" />
                    </a>
                    <a href="#" class="projects-item-thumb-wrap">
                        <h2 class="project-item-title">{{project.title}}</h2>
                    </a>
                </div>
               </div>
        {% endif %}
{% endfor %}
</div>