
<div class="service-wrapper">
        {% for service in page.s4_accordion %}
           <div class="custom-item" data-animate-parent>
                <div class="custom-item-heading" data-animate>
                    <div class="custom-item-header">
                        <h2>{{service.service_title}}</h2>
                    </div>
                    <div class="custom-item-icon">
                        {% partial 'icons/closed-eye' %}
                    </div>
                </div>
                <div class="custom-item-content">
                    <div class="custom-item-content-left">
                        <div class="what-we-do">
                            {# <h4>What we do</h4>
                            <p>Sincerely, it's the final time that they've been given a furnished common. To avoid class, tidy them up. He has a wide-ranging influence.</p>
                            <p>At our agency, we know how important good design is to drawing people in.</p>
                            <div class="list-tools">
                            <h4>Tools we use</h4>
                                <ul>
                                    <li>Data-Driven Strategies</li>
                                    <li>Design And Development</li>
                                    <li>Transparent Communication</li>
                                    <li>Client-Centric Approach</li>
                                </ul>
                            </div> #}
                            {{service.service_content|raw}}
                        </div>  
                    </div>  
                    <div class="custom-item-content-right">
                        <img src="{{ service.service_image[0].path}}" alt="{{this.service.service_title}}"/>
                    </div>
                </div>
            </div>
            {% endfor %}
</div>  