<div class="client-section">
    <div class="container">
        <div class="section-client" data-animate-parent>
            <div class="section-heading " data-animate>
                <div class="hero-subtitle">
                    <div class="hero-subtitle-icon">
                        {% partial 'icons/quotes' %}
                    </div>
                    <div class="hero-subtitle-text">{{subtitle}}</div>
                </div>
                <div class="brand-title">
                    <h2>{{title}}</h2>
                </div>
            </div>
        </div>
        <div class="swiper" data-animate-parent>
        <div class="swiper-wrapper" data-animate>
           {% for client in clients %}
            <div class="swiper-slide">
               <div class="card-client">
                    <div class="feedback-top-container">
                        <div class="feedback-header">
                            <h1>Our Client </h1>
                            <h2>Feedback </h2>
                        </div>    
                        <div class="client-image">
                            <img src="{{client.clients_image[0].path}}" alt="ClientImage"/>
                        </div>
                    </div>
                    <div class="feedback-bottom-container">
                        <div class="client-name">
                            <h1>{{ client.clients_name}}</h1>
                        </div>
                        <div class="client-position">
                            <p>{{ client.clients_designation }}</p>
                        </div>
                        <div class="client-testimonial">
                            {{ client.clients_review|raw}}
                        </div>
                    </div>
               </div>
            </div>
            {% endfor %}
            ...
        </div>
        <div class="swiper-pagination"></div>

        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
        <div class="swiper-scrollbar"></div>
    </div>
    </div>
</div>