 <div class="row row-cols-1
            row-cols-md-2
            row-cols-xl-3  g-4 pricing-content" data-animate-parent>
            {% for plan in plans %}
            <div class="col" data-animate> 
                <div class="pricing-item">
                <div class="pricing-item-top">
                    <div class=" pricing-item-header">
                        <h2>{{ plan.price_title}}</h2>
                        {% if plan.is_professional %} 
                        <span class="popular">Popular</span>
                        {% endif %}
                    </div>
                    <div class="pricing-paragraph">
                        {{plan.description}}
                    </div>
                     <div class="fs-md-4 price-content">
                        <h2>$ {{plan.price |number_format(2, '.', '')}} USD/<span class="price-content-span">mo</span></h2>
                    </div>
                    <div class="white-button m-0">
                            <a class="nav-link contact-link text-center" href="#">
                                {{button}}
                                <span class="arrow-wrapper">
                                    <span class="arrow arrow-1">{% partial 'icons/arrow-right'%}</span>
                                    <span class="arrow arrow-2">{% partial 'icons/arrow-right'%}</span>
                                </span>
                            </a>
                    </div>
                </div>
                    <div class="pricing-item-border"></div>
                    <div class="price-content-items">
                         
                         {{ plan.list_content|raw}}
                    </div>
                </div>
            </div>
            {% endfor %}
           
        </div>