<div class="questions-section">
    <div class="container">
        <div data-animate-parent>
            <div class="section-heading" data-animate>
                 <div class="hero-subtitle">
                    <div class="hero-subtitle-icon">
                        {% partial 'icons/question' %}
                    </div>
                    <div class="hero-subtitle-text">{{subtitle}}</div>
                </div>
                <div class="brand-title questions">
                    <h2>{{title}}</h2>
                </div>
            </div>
        </div>
        <div class="question-wrapper" >
        {% for question in questions %}
            <div data-animate-parent>
            <div class="question-item" data-animate>
                <div class="question-item-heading">
                <div class="question-item-heading-left">
                    <div class="question-order-number">
                        <p>/0{{loop.index}}</p>
                    </div>
                    <div class="question-item-header">
                        <h2>{{question.question_title}}</h2>
                    </div>
                </div>
                    <div class="custom-item-icon">
                        {% partial 'icons/closed-eye' %}
                    </div>
                </div>
                <div class="question-item-content">
                    <div class="question-item-content-left">
                        <div class="question-content">
                            {{ question.question_description }}
                        </div>
                    </div>
                </div>
            </div>
            </div>
        {% endfor %}
           
        </div>
    </div>
</div>