<div class="brands-section">
    <div class="container">
      <div class="section-brand">
         <div class="brand-heading">
                <div data-animate-parent>
                    <div class="hero-subtitle" data-animate>
                        <div class="hero-subtitle-icon">
                            {% partial 'icons/target' %}
                        </div>
                        <div class="hero-subtitle-text"> {{page.s3_subtitle}}</div>
                    </div>
                </div>
                <div class="brand-title" data-animate-parent>
                    <h2 data-animate>{{page.s3_title}}</h2>
                </div>
          </div>
        <div class="trusted-partners-wrapper section-padding--t-2" >
        <div class="trusted-partners-track" data-animate-parent> 
        {% for partner_image in page.s3_partners %}
               <div class="trusted-partner-item" data-animate>
                <img src="{{partner_image.path}}" alt="PartnerLogo" >
              </div>
            {% endfor %}
             {% for partner_image in page.s3_partners %}
                <div class="trusted-partner-item">
                    <img src="{{ partner_image.path }}" alt="PartnerLogo">
                 </div>
              {% endfor %}
          </div>
        </div>
      </div>
    </div>
</div>