{% set post = blogPost.post %}
{% set categories = blogCategories.categories %}
{% set posts = blogPosts.posts %}
<div class="post-content section-padding--y">
    <div class="container">
        <div class="post-heading" data-animate-parent>
            <h1 data-animate>{{post.title}}</h1>
        </div>
        <div class="date-content" data-animate-parent>
            <div class="date-time" data-animate>
                {%  partial 'icons/time'%}
                <p>18 min</p>
            </div>
            <div class="date-calendar" data-animate>
                {% partial 'icons/calendar'%}
                <p>{{post.published_at|date('M d, Y')}}</p>
            </div>
        </div>
        {% if post.featured_images|length %}
            <div class="blog-img" data-animate-parent>
                <img src="{{post.featured_images[0].path}}" alt="BannerImg" data-animate>
            </div>
         {% endif %}
         <div data-animate-parent>
        <div class="blog-layout-content blog-dynamic-content" data-animate>
                {{post.content_html|raw}}
        </div>
        </div>
        <div class="related-articles section-padding--t">
            <div class="section-heading " data-animate-parent>
                <div class="hero-subtitle" data-animate>
                    <div class="hero-subtitle-icon">
                        {% partial 'icons/article' %}
                    </div>
                    <div class="hero-subtitle-text">ARTICLES</div>
                </div>
                <div class="brand-title" data-animate>
                    <h2>Related Blogs</h2>
                </div>
            </div>  
        </div>
        {% set currentCategories = post.categories %}

        <div class="related-articles-wrapper blog-content">
            {% for relatedPost in posts %}

                {% if relatedPost.id != post.id %}

                    {% set isRelated = false %}

                    {% for category in relatedPost.categories %}

                        {% if currentCategories.contains(category) %}
                            {% set isRelated = true %}
                        {% endif %}

                    {% endfor %}
                    {% if isRelated %}
                     <div class="blog-item">
                         <a href="{{ 'news-single'|page ({ slug: relatedPost.slug }) }}" data-animate-parent>
                            <div class="blog-item-thumb-wrap" data-animate>
                                <img src="{{ relatedPost.featured_images[0].path }}" alt="Blog Item">
                            </div>
                            <div class="blog-item-body" data-animate>
                                <div class="card-explanation">
                                    <h6 class="card-text">{{relatedPost.title}}</h6>
                                </div>
                                <div class="card-dates">
                                    <div class="card-time">
                                        {% partial 'icons/time' %}
                                        <p>3 min</p>

                                    </div>
                                    <div class="card-date">
                                        {% partial 'icons/calendar' %}
                                        <p>{{ relatedPost.published_at|date('M d, Y') }}</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    {% endif %}
                {% endif %}

            {% endfor %}
        </div>
    </div>
</div>  