{% set post = blogPost.post %}
{% set categories = blogCategories.categories %}
{% set posts = blogPosts.posts %}
<div class="post-content section-padding--y">
    <div class="container">
        <div class="post-heading">
            <h1>{{post.title}}</h1>
        </div>
        <div class="date-content">
            <div class="date-time">
                {%  partial 'icons/time'%}
                <p>18 min</p>
            </div>
            <div class="date-calendar">
                {% partial 'icons/calendar'%}
                <p>{{post.published_at|date('M d, Y')}}</p>
            </div>
        </div>
        {% if post.featured_images|length %}
            <div class="blog-img">
                <img src="{{post.featured_images[0].path}}" alt="BannerImg">
            </div>
         {% endif %}
        <div class="blog-layout-content blog-dynamic-content">
                {{post.content_html|raw}}
        </div>
        <div class="related-articles section-padding--t">
            <div class="section-heading ">
                <div class="hero-subtitle">
                    <div class="hero-subtitle-icon">
                        {% partial 'icons/article' %}
                    </div>
                    <div class="hero-subtitle-text">ARTICLES</div>
                </div>
                <div class="brand-title">
                    <h2>Related Blogs</h2>
                </div>
            </div>  
        </div>
        {% set currentCategories = post.categories %}

        <div class="related-articles-wrapper blog-content">
            {% for relatedPost in posts %}

                {% if relatedPost.id != post.id %}

                    {% set isRelated = false %}

                    {% for category in relatedPost.categories %}

                        {% if currentCategories.contains(category) %}
                            {% set isRelated = true %}
                        {% endif %}

                    {% endfor %}
                    {% if isRelated %}
                     <div class="blog-item">
                         <a href="{{ 'news-single'|page ({ slug: relatedPost.slug }) }}">
                            <div class="blog-item-thumb-wrap">
                                <img src="{{ relatedPost.featured_images[0].path }}" alt="Blog Item">
                            </div>
                            <div class="blog-item-body">
                                <div class="card-explanation">
                                    <h6 class="card-text">{{relatedPost.title}}</h6>
                                </div>
                                <div class="card-dates">
                                    <div class="card-time">
                                        {% partial 'icons/time' %}
                                        <p>3 min</p>

                                    </div>
                                    <div class="card-date">
                                        {% partial 'icons/calendar' %}
                                        <p>{{ relatedPost.published_at|date('M d, Y') }}</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    {% endif %}
                {% endif %}

            {% endfor %}
        </div>
    </div>
</div>  