url = "/about-us"
layout = "default"
title = "about-us"

[section page]
handle = "Page\AboutUs"
==
<div class="about-us-section section-padding--y">
    <div class="container">
        <div class="section-heading-blog section-padding--b-2" data-animate-parent>
                <div class="hero-subtitle" data-animate>
                    <div class="hero-subtitle-icon">
                        {% partial 'icons/earth' %}
                    </div>
                    <div class="hero-subtitle-text">{{page.s1_subtitle}}</div>
                </div>
                <div class="brand-title" data-animate>
                    <h2>{{page.s1_title}}</h2>
                </div>
        </div>
        <div class="about-us-img" data-animate-parent>
            <img  data-animate src="{{page.s1_banner[0].path}}" alt="About-us-img">
        </div>
        <div class="experience-block" data-animate-parent>
            <div class="experience-description" data-animate>
                <p>{{page.s1_description}}</p>
            </div>
            <div class="experience-projects" data-animate>
                <h4 class="number">{{page.s1_projects}}+</h4>
                <p>Projects Completed</p>
            </div>
            <div class="experience-projects" data-animate>
                <h4 class="number">{{page.s1_years}}+</h4>
                <p>Years of Experience</p>
            </div>
            <div class="experience-projects" data-animate>
                <h4 class="number">{{page.s1_client}}%</h4>
                <p>Client Satisfaction</p>
            </div>
        </div>
        <div class="our-values section-padding--y">
            <div class="section-heading" data-animate-parent>
                <div class="hero-subtitle" data-animate>
                    <div class="hero-subtitle-icon">
                        {% partial 'icons/present' %}
                    </div>
                    <div class="hero-subtitle-text">{{page.s2_subtitle}}</div>
                </div>
                <div class="brand-title" data-animate>
                    <h2>{{page.s2_title}}</h2>
                </div>
            </div>
            <div class="value-container">
            <div class="values-blocks" >
            {% for value in page.s2_values %}
            <div data-animate-parent>
                <div class="value-block" data-animate>
                   <div class="icon-content">
                    <i class="{{value.value_icon}}"></i>
                    </div>
                    <div class="value-content">
                        <h2>{{value.value_title}}</h2>
                        <p>{{value.value_description}}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
            
            </div>
            </div>
        </div>
        {% partial 'site/trusted-brands'  %}
        <div class="ideas-container section-padding--y">
           
            <div class="section-heading ideas-heading" data-animate-parent>
                <div class="hero-subtitle" data-animate>
                    <div class="hero-subtitle-icon">
                        {% partial 'icons/brain' %}
                    </div>
                    <div class="hero-subtitle-text">{{page.s4_subtitle}}</div>
                </div>
                <div class="brand-title ideas-heading" data-animate>
                    <h2>{{page.s4_title}}</h2>
                </div>
            </div>
           
            <div class="ideas-content" data-animate-parent>
                 {% for idea in page.s4_ideas %}
                <div  class="ideas-item" data-animate>
                <div>
                    <div class="ideas-top" >
                        <div class="ideas-header">
                            <h4>{{idea.s4_ideas_title}}</h4>
                        </div>
                        <div class="ideas-index">
                            <p>0{{loop.index}}</p>
                        </div>
                    </div>
                    <div class="ideas-bottom">
                        <p>{{idea.s4_ideas_description}}</p>
                    </div>
                </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="awards-container">
            <div class="section-heading ideas-heading" data-animate-parent >
                <div class="hero-subtitle" data-animate>
                    <div class="hero-subtitle-icon">
                        {% partial 'icons/medal' %}
                    </div>
                    <div class="hero-subtitle-text">{{page.s5_subtitle}}</div>
                </div>
                <div class="brand-title ideas-heading" data-animate>
                    <h2>{{page.s5_title}}</h2>
                </div>
            </div>
            <div class="award-content">
            {% for recognition in page.s5_recognitions %}
            <div data-animate-parent>
                <div class="award-item" data-animate>
                    <div class="award-year">
                        <p>{{recognition.recognition_year}}</p>
                    </div>
                    <div class="award-header">
                        <h2>{{recognition.recognition_award}}</h2>
                    </div>
                    <div class="award-description">
                        <p>{{recognition.recognition_community}}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
            
            </div>
        </div>
        <div class="dexina-team section-padding--y">
            <div class="section-heading ideas-heading" data-animate-parent>
                <div class="hero-subtitle" data-animate>
                    <div class="hero-subtitle-icon">
                        {% partial 'icons/teams' %}
                    </div>
                    <div class="hero-subtitle-text">{{page.s6_subtitle}}</div>
                </div>
                <div class="brand-title ideas-heading" data-animate>
                    <h2>{{page.s6_title}}</h2>
                </div>
            </div>
            <div class="team-container">
            {% for team in page.s6_team %}
            <div data-animate-parent>
                <div class="team-item" data-animate>
                    <div class="team-img">
                        <img src="{{team.team_image[0].path}}" alt="TeammateImage">
                    </div>

                        <div class="team-name-media">
                           <div class="team-name">
                            <h2>{{team.team_name}}</h2>
                             <p>{{team.team_designation}}</p>
                           </div> 
                           <div class="team-social-media">
                                <div class="social-icon">
                                    <a href="{{team.facebook_url}}">
                                    {% partial 'icons/facebook'%}
                                    </a>
                                </div>
                                <div class="social-icon">
                                    <a href="{{team.instagram_url}}">
                                    {% partial 'icons/instagram'%}
                                    </a>
                                </div>
                                <div class="social-icon">
                                    <a href="{{team.linkeldin_url}}">
                                    {% partial 'icons/linkedin'%}
                                    </a>
                                </div>
                           </div>
                         </div>
                </div>
            </div>
            {% endfor %}
            </div>
        </div>
    </div>
</div>