url = "/projects"
layout = "default"
title = "Projects"

[collection projects]
handle = "Projects\Project"
sortDirection = "desc"
==
{% set firstProjects = projects.paginate(2) %}
{% set secondProjects = projects|slice(2,3) %}
{% set thirdProjects = projects|slice(5,2)%}
{% set fourthProjects = projects|slice(7,3)%}
{% set fifthProjects = projects|slice(10,2)%}
<div class="project-section section-padding--y">
    <div class="container">
         <div class="section-heading-blog portfolio section-padding--b-2">
                <div class="hero-subtitle">
                    <div class="hero-subtitle-icon">
                        {% partial 'icons/earth' %}
                    </div>
                    <div class="hero-subtitle-text">OUR PORTFOLIO</div>
                </div>
                <div class="brand-title">
                    <h2>Crafted with purpose, built for impact</h2>
                </div>
        </div>
        <div class="category-menu">
                <a href="#"
                    class="category-item active">
                    <div>All Blog</div>
                </a>
                <a href="#"
                    class="category-item">
                    <div>Dashboard</div>
                </a>
                 <a href="#"
                    class="category-item">
                    <div>Web App</div>
                </a>
                 <a href="#"
                    class="category-item">
                    <div>App Design </div>
                </a>
                 <a href="#"
                    class="category-item">
                    <div>Web Design </div>
                </a>
                 <a href="#"
                    class="category-item">
                    <div>Branding</div>
                </a>
        </div>
          <div role="list" class="projects-layout w-dyn-items">
            {% for firstProject in firstProjects %}
                <div role="list" class="w-dyn-item">
                  <div class="projects-item">
                    <a href="#" class="projects-item-thumb-wrap">
                        <img src="{{ firstProject.banner.path }}" class="projects-item-thumb" alt="Purse" />
                    </a>
                    <a href="#" class="projects-item-thumb-wrap">
                        <h2 class="project-item-title">{{firstProject.title}}</h2>
                    </a>
                </div>
                </div>
            {% endfor %}
            </div>
            <div role="list" class="projects-layout-2 w-dyn-items">
            {% for secondProject in secondProjects %}
               <div role="list" class="w-dyn-item">
                        <div class="projects-item">
                             <a href="#" class="projects-item-thumb-wrap">
                                <img src="{{secondProject.banner.path}}" class="projects-item-thumb" alt="Purse" />
                            </a>
                            <a href="#" class="projects-item-thumb-wrap">
                                <h2 class="project-item-title">{{ secondProject.title }}</h2>
                            </a>
                        </div>
                </div> 
            {% endfor %}
            </div>
            <div role="list" class="projects-layout-3 w-dyn-items">
             {% for thirdProject in thirdProjects %}
             <div role="list" class="w-dyn-item">
                        <div class="projects-item">
                             <a href="#" class="projects-item-thumb-wrap">
                                <img src="{{thirdProject.banner.path}}" class="projects-item-thumb" alt="Purse" />
                            </a>
                            <a href="#" class="projects-item-thumb-wrap">
                                <h2 class="project-item-title">{{ thirdProject.title }}</h2>
                            </a>
                        </div>
             </div>
             {% endfor %}   
            </div>
             <div role="list" class="projects-layout-2 w-dyn-items">
                   {% for fourthProject in fourthProjects %}
                      <div role="list" class="w-dyn-item">
                        <div class="projects-item">
                             <a href="#" class="projects-item-thumb-wrap">
                                <img src="{{fourthProject.banner.path}}" class="projects-item-thumb" alt="Purse" />
                            </a>
                            <a href="#" class="projects-item-thumb-wrap">
                                <h2 class="project-item-title">{{ fourthProject.title }}</h2>
                            </a>
                        </div>
                        </div>
                   {% endfor %}
             </div>  
             <div role="list" class="projects-layout w-dyn-items">
                 {% for fifthProject in fifthProjects %}
                      <div role="list" class="w-dyn-item">
                        <div class="projects-item">
                             <a href="#" class="projects-item-thumb-wrap">
                                <img src="{{fifthProject.banner.path}}" class="projects-item-thumb" alt="Purse" />
                            </a>
                            <a href="#" class="projects-item-thumb-wrap">
                                <h2 class="project-item-title">{{ fifthProject.title }}</h2>
                            </a>
                        </div>
                        </div>
                   {% endfor %}
             </div>
    </div>
</div>