url = "/projects"
layout = "default"
title = "Projects"

[collection projects]
handle = "Projects\Project"
sortDirection = "desc"

[section page]
handle = "Page\Projects"

[collection projectCategory]
handle = "Projects\Category"
==

<div class="project-section section-padding--y">
    <div class="container">
         <div class="section-heading-blog portfolio section-padding--b-2" data-animate-parent>
                <div class="hero-subtitle" data-animate>
                    <div class="hero-subtitle-icon">
                        {% partial 'icons/earth' %}
                    </div>
                    <div class="hero-subtitle-text">{{page.s1_subtitle}}</div>
                </div>
                <div class="brand-title" data-animate>
                    <h2>{{page.s1_title}}</h2>
                </div>
        </div>
        <div class="category-menu"  data-animate-parent>
            
                <a href="#"
                    class="category-item active" data-animate>
                    <div>All Blog</div>
                </a>
             {% for categories in projectCategory %}
                <a href="#"
                    class="category-item" data-animate>
                    <div>{{categories.title}}</div>
                </a>
            {% endfor %}
        </div>
          <div role="list" class="projects-layout w-dyn-items" data-animate-parent>
            {% for firstProject in page.s1_projects %}
                {% if firstProject.layoutType == 1%}
                <div role="list" class="w-dyn-item" data-animate>
                  <div class="projects-item">
                    <a href="#" class="projects-item-thumb-wrap">
                        <img src="{{ firstProject.banner.path }}" class="projects-item-thumb" alt="Purse" />
                    </a>
                    <a href="#" class="projects-item-thumb-wrap">
                        <h2 class="project-item-title">{{firstProject.title}}</h2>
                    </a>
                </div>
                </div>
                {% endif %}
            {% endfor %}
            </div>
            <div role="list" class="projects-layout-2 w-dyn-items" data-animate-parent >
            {% for secondProject in page.s1_projects %}
                {% if secondProject.layoutType == 2 %}
               <div role="list" class="w-dyn-item" data-animate>
                        <div class="projects-item">
                             <a href="#" class="projects-item-thumb-wrap">
                                <img src="{{secondProject.banner.path}}" class="projects-item-thumb" alt="Purse" />
                            </a>
                            <a href="#" class="projects-item-thumb-wrap">
                                <h2 class="project-item-title">{{ secondProject.title }}</h2>
                            </a>
                        </div>
                </div>
                {% endif %} 
            {% endfor %}
            </div>
            <div role="list" class="projects-layout-3 w-dyn-items" data-animate-parent >
             {% for thirdProject in page.s1_projects %}
                {% if thirdProject.layoutType == 3%}
             <div role="list" class="w-dyn-item"  data-animate>
                        <div class="projects-item">
                             <a href="#" class="projects-item-thumb-wrap">
                                <img src="{{thirdProject.banner.path}}" class="projects-item-thumb" alt="Purse" />
                            </a>
                            <a href="#" class="projects-item-thumb-wrap">
                                <h2 class="project-item-title">{{ thirdProject.title }}</h2>
                            </a>
                        </div>
             </div>
             {% endif %}
             {% endfor %}   
            </div >
             
    </div>
</div>